name: ios build workflows

on:
  push:
    branches: 
      - main

permissions:
  contents: read
  
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-15
          - os: macos-15-intel
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout main repository code
        uses: actions/checkout@v4

      - name: hardware info 
        run: |
          echo -e "======================="
          ioreg -l | grep -i 'serial-number' | head -n 1 | sed 's/.*<\(.*\)>.*/\1/' | xxd -r -p

      - name: vcpkg dependency repository
        uses: actions/checkout@v4
        with:
          repository: microsoft/vcpkg
          path: vcpkg           

      
      - name: vcpkg install
        run: |
            brew install cmake ninja pkg-config autoconf nasm
            cd vcpkg
            ./bootstrap-vcpkg.sh
            # ./vcpkg install 'mongo-c-driver:arm64-ios'